# STM32F429 + ST-LINK (SWD) for OpenOCD 0.12+

source [find interface/stlink.cfg]
transport select hla_swd
adapter speed 4000

source [find target/stm32f4x.cfg]

reset_config srst_only srst_nogate
